*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Changa', sans-serif;
    max-width: 1900px;
}

.cabecalho {
    background-color: #499DB3;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#logo {
    width: 97px;
}

#barra-pesquisa {
position: absolute;
left: 180px;
width: 550px;
display: flex;
}

#barra-pesquisa input {
    width: 100%;
    height: 35px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-button {
    border: none;
    height: 35px;
    background-color: #AB3D32;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 9px 10px;
    cursor: pointer;
  }

.search-button:hover {
    background-color: #d3493d;
}

#botao-1 button{
    font-family: 'Changa', sans-serif;
    font-size: 18px;
    width: 187px;
    height: 44px;
    background-color: #AB3D32;
    border: none;
    border-radius: 10px;
}
#botao-1 button:hover {
    background-color: #d3493d;

  }

#botao-1 a{
    text-decoration: none;
    color: white;
}

    .navbar{ 
        display: flex;
       flex-direction: row;
        width: 100%;
        height: 40px;
        background-color: #1E5867;  
        align-items: center;
        justify-content: center;
    }
    .navbar li{
        display: flex;
        flex-direction: row;     
    }

    ul{
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        width: 588px;
    }

    ul:hover{
        background-color:#0b1f24 ;
        transition: 0.9s;
    }
    
    ul a{
        color: white;
        text-decoration: none;
    }

main {
    margin: 0 auto;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
}

.grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    column-gap: 70px;
    row-gap: 30px;
    left: 1000px;
    bottom: 450px;
}

.grid-image #main-image {
    height: 450px;
    margin: 20px;
    border-radius: 10px;
}

.grid-image div {
    display: flex;
    background-color: black;
    width: 674px;
    height: 30px;
    position: absolute;
    margin-top: -60px;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.secao .sub-image {
    height: 210px;
    border-radius: 10px;
}

.secao div {
    display: flex;
    background-color: black;
    width: 315px;
    height: 30px;
    position: absolute;
    margin-top: -39px;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p {
    position: absolute;
    color: white;
    z-index: -2;
}
.carousel-container {
    display: flex;
    justify-content: center;
}